body {
    color: #999999;
    background: #222;
}

::selection {
    color: #999999;
    background: #111111;
}

p, li {
    color: #EEE;
}

a {
    color: #137fb3;
}

blockquote {
    background: #333;
}
